{{template "header.html" .}}

<div>
    {{if .user}}
    <h1>Edit user {{.user.Id}}</h1>
    {{else}}
    <h1>Create a new user</h1>
    {{end}}

    {{with .user}}
    <form action="/users/{{.Id}}" method="POST">
        {{else}}
        <form action="/users" method="POST">
            {{end}}
            <div>
                <label>Username</label>
                <input type="text" name="name" value="{{.user.Name}}">
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email" value="{{.user.Email}}">
            </div>
            <!-- If there is a user, this means this post is used to update the user resource
            so we send a hidden field of method put because browser supports only post and get -->
            {{if .user}}
            <input type='hidden' name='method' value=put />
            {{end}}
            <div>
                {{with .user}}
                <input type="submit" value="Update User">
                {{else}}
                <input type="submit" value="Create User">
                {{end}}
            </div>
        </form>
        <button>Create Portfolio</button>
</div>

{{template "footer.html" .}}