{{set . "title" "Creative Portfolio"}}
{{template "header.html" .}}

<h2>All carousels</h2>
<form action="/carousels/order-limit" method="post">
    Order Limit {{.orderLimit}}
    <div style="margin-bottom: 20px;">
        <input type="number" id="order" name="orderLimit" min="0">
        <input type="submit" value="Change the order limit">
    </div>
</form>

<a href="/carousels/new"><button>Upload a new carousel image</button></a>
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Order</th>
        <th>Details</th>
    </tr>
    {{range .carousels}}
    <tr>
        <td>{{.Id}}</td>
        <td><img src="/carousel-images/{{.FilePath}}" alt=""></td>
        <td>{{.Order}}</td>
        <td><a href="http://localhost:8080/carousels/{{.Id}}">view</a></td>
    </tr>
    {{end}}
</table>

{{template "footer.html" .}}