<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <a href="/users/?html=true">Home</a>

    <h2>All users</h2>
    <a href="/users/form"><button>Create a new user</button></a>
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
        {{range .portfolios}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td><a href="http://localhost:8080/portfolios/{{.Id}}/?html=true">view</a></td>
        </tr>
        {{end}}
    </table>

    {{template "footer.html" .}}